<configuration>
    <!--appender-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSSS} [%thread] %-5logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSUMER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/process/consumer.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/process/consumer-%d{MM-dd-yyyy}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSSS} [%thread] %-5logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/process/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/process/debug-%d{MM-dd-yyyy}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSSS} [%thread] %-5logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="API_ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/errors/api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/errors/api-%d{MM-dd-yyyy}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSSS} [%thread] %-5logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.cryptobot.messenger.mq.NotificationConsumer" level="INFO" additivity="false">
        <appender-ref ref="CONSUMER_FILE" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="com.cryptobot.messenger" level="DEBUG" additivity="false">
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="CONSOLE" />
    </logger>


    <root level="debug">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>